<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>PMTS Server</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    </head>

    <body>
        <div class="Content">
            <img class="Icon" src="assets/images/Logo.png" />
            <h1>PMTS Server</h1>

            <div class="Note">
                <p id="IpAddressText">Starting Server...</p>
            </div>
        </div>
    </body>

    <script>
        require("./script.js")
    </script>
</html>